<!--
  @description       : 
  @author            : kavya.konagonda@mtxb2b.com
  @group             : 
  @last modified on  : 09-23-2020
  @last modified by  : kavya.konagonda@mtxb2b.com
  Modifications Log 
  Ver   Date         Author                       Modification
  1.0   09-22-2020   kavya.konagonda@mtxb2b.com   Initial Version
-->
<template>
    <lightning-card title="Current time">
        <div class="slds-m-around_medium">
            {currentTime}
         </div>
        </lightning-card>
        <lightning-card title="Stop Watch">
               <div class="slds-m-around_medium">{timeVal}</div>

          <template if:true={showStart}>
            <lightning-button label="Start" variant="brand" onclick={handleStart} class="slds-m-around_medium"></lightning-button>
          </template>

          <template if:false={showStart}>
            <lightning-button label="Stop" variant="brand" onclick={handleStop} class="slds-m-around_medium"></lightning-button>
          </template> 
            
            <lightning-button label="Reset" variant="brand" onclick={handleReset} class="slds-m-around_medium"></lightning-button>
        </lightning-card>
</template>